body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    margin-bottom: 20px;
    color: white;
}

body {
  background-image: url("maxresdefault.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

h1, p {
    color: white;
}
