body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    margin-bottom: 20px;
    color: white;
}

body {
  background-image: url("maxresdefault.jpg");
  background-attachment: fixed;
  background-position: center;
}

h1, p {
    color: white;
}

img {
    float: center;
    width:  300px;
    height: 300px;
}
